@model SouthWind.Web.Areas.SD.Models.ArticleModel
@using (Ajax.BeginForm("Edit", "Article", null,
        new AjaxOptions
        {
            UpdateTargetId = "updateTargetId",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "EditArticleSuccess",
        }, new { @id = "editArticleForm" }))
{
    <div class="row-fluid form-horizontal">
        <div class="popup-widget-box clearfix">
            <div class="content">
                @Html.ValidationSummary(true)
                <div id="updateTargetId" class="alert alert-info" style="display: none;">
                </div>
                @Html.HiddenFor(model => model.Id)
            </div>

            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.ArticleCode)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.ArticleCode, new { @style = "text-align: left !important;" })
                    @Html.ValidationMessageFor(model => model.ArticleCode)
                </div>
            </div>
                        
            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.ArticleName)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.ArticleName, new { @style = "text-align: left !important;" })
                    @Html.ValidationMessageFor(model => model.ArticleName)
                </div>
            </div>

            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.UoM)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.UoM)
                    @Html.ValidationMessageFor(model => model.UoM)
                </div>
            </div>

            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.CostPrice)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.CostPrice)
                    @Html.ValidationMessageFor(model => model.CostPrice)
                </div>
            </div>

            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.UnitPrice)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.UnitPrice)
                    @Html.ValidationMessageFor(model => model.UnitPrice)
                </div>
            </div>

            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.MRP)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.MRP)
                    @Html.ValidationMessageFor(model => model.MRP)
                </div>
            </div>

            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.MinOrderQty)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.MinOrderQty)
                    @Html.ValidationMessageFor(model => model.MinOrderQty)
                </div>
            </div>

  @*          <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.ArtSubCategory)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.ArtSubCategory)
                    @Html.ValidationMessageFor(model => model.ArtSubCategory)
                </div>
            </div>

            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.Organization)
                </span>
                <div class="controls">
                    @Html.TextBoxFor(model => model.Organization)
                    @Html.ValidationMessageFor(model => model.Organization)
                </div>
            </div>

          *@ <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.SubCategoryId)
                </span>
                <div class="controls">
                    @Html.DropDownList("SubCategoryId", Model.ddlArticleSubCategory)
                    @Html.ValidationMessageFor(model => model.SubCategoryId)
                </div>
            </div>

            <div class="control-group">
                <span class="control-label">
                    @Html.LabelFor(model => model.OrganizationId)
                </span>
                <div class="controls">
                    @Html.DropDownList("OrganizationId", Model.ddlOrganization)
                    @Html.ValidationMessageFor(model => model.OrganizationId)
                </div>
            </div>
            
            <div class="hr">
            </div>
            <div class="content pull-right">
                <button type="submit" class="btn btn-mini btn-primary" id="btnEditArticle" name="btnEditArticle">
                    <i class="icon-save bigger-125"></i>Edit</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-mini btn-primary" id="btnCancelArticle" name="btnCancelArticle"
                    value="Cancel" onclick=" $($('#editArticleDialog').dialog('close'));">
                    <i class="icon-remove bigger-125"></i>Cancel</button>
            </div>
        </div>
    </div>
}
