@model LILI_CRM.Web.Areas.PCV.ViewModel.SampleRequestModel
@using (Ajax.BeginForm("Edit", "SampleRequest", null,
        new AjaxOptions
        {
            UpdateTargetId = "updateTargetId",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "EditSampleRequestSuccess",
        }, new { @id = "editSampleRequestForm" }))
{
    <div class="row-fluid form-horizontal">
        <div class="popup-widget-box clearfix">
            <div class="content">
                @Html.ValidationSummary(true)
                <div id="updateTargetId" class="alert alert-info" style="display: none;">
                </div>
                @Html.HiddenFor(model => model.Id)
            </div>

        <div class="row-fluid">
            <div class="span6 pull-left">
                <span class="span3">
                    @Html.LabelFor(model => model.RequestDate)
                </span>
                <span class="span9 pull-left">
                    @Html.EditorFor(model => model.RequestDate)
                    @Html.ValidationMessageFor(model => model.RequestDate)
                </span>
            </div>
            <div class="span6 pull-left">
                <span class="span3">
                    @Html.LabelFor(model => model.SupplierId)
                </span>
                <span class="span9 pull-left">
                    @Html.DropDownList("SupplierId", Model.ddlSupplier, new { @class = "clsSupplier" })
                    @Html.TextBoxFor(model => model.SupplierAddress, new { Style = "background:#FFDAB9", @disabled = "disabled" })  
                    @Html.ValidationMessageFor(model => model.SupplierId)
                </span>
            </div> 
        </div>

        <div class="row-fluid">
            <div class="span6 pull-left">
                <span class="span3">
                    @Html.LabelFor(model => model.ArticleCode)
                </span>
                <span class="span4 pull-left">
                    @Html.TextBoxFor(model => model.ArticleCode, new { @style = "text-align: left !important;" })
                    @Html.ValidationMessageFor(model => model.ArticleCode)
                </span>
                <span class="span5 pull-left">
                    @*<div id="SampleRequestAddItemButtonZone" class="row-fluid">*@
                        <button type="button" class="btn btn-mini btn-primary" id="btnAddArticle" name="btnAddArticle"
                        value="Cancel" onclick="AddRow()">
                        <i class="icon-edit bigger-125"></i>Add to List</button>
                    @*</div>*@
                </span>
            </div>
            <div class="span6 pull-left">
                <span class="span3">
                    @Html.LabelFor(model => model.OrganizationId)
                </span>
                <span class="span9 pull-left">
                    @Html.DropDownList("OrganizationId", Model.ddlOrganization, new { @class = "clsOrganization" ,Style = "background:#FFDAB9"})
                    @*@Html.DropDownList("OrganizationId", Model.ddlOrganization, new { @class = "clsOrganization" ,Style = "background:#FFDAB9", @disabled = "disabled" })*@
                    @Html.ValidationMessageFor(model => model.OrganizationId)
                </span>
            </div> 
        </div> 

        <div class="row-fluid">
            <div id="SampleRequestDetailsGridZone">
                <div id="SampleRequestDetailsEditKendoGrid">
                </div>
            </div>
        </div>
        
        <div class="hr"></div>
        &nbsp;
        <div class="row-fluid">
            <div class="span6 pull-left">
                <span class="span3">
                    @Html.LabelFor(model => model.TransporterId)
                    @Html.LabelFor(model => model.DocTrackingNo)
                </span> 
                <span class="span8 pull-left">
                        @Html.DropDownList("TransporterId", Model.ddlTransporter)
                        @Html.TextBoxFor(model => model.DocTrackingNo)  
                </span>
            </div>

            <div class="span6 ">
                <span class="span3">
                        @Html.LabelFor(model => model.DeliveryStateId)
                </span>
                <span class="span6">
                    @Html.DropDownList("DeliveryStateId", Model.ddlDeliveryState, new { @class = "clsDeliveryState" })
                </span>
            </div> 
        </div>

        <div class="hr"></div>
        &nbsp
        <div class="row-fluid">
        <table>
        @using (Html.BeginForm())
        { 
            for (int i = 0; i < Model.sampleDocumentModels.Count; i++)
            { 
                <tr>
                    <td>
                        @Html.CheckBoxFor(m => Model.sampleDocumentModels[i].IsSelected)
                        @Model.sampleDocumentModels[i].DocName
                        @Html.HiddenFor(m => Model.sampleDocumentModels[i].Id)
                        @Html.HiddenFor(m => Model.sampleDocumentModels[i].DocName)
                    </td>                
                </tr>
            }
        }
        </table>  
        </div>
            

            <div class="hr">
            </div>
            <div class="content pull-right">
                <button type="button" class="btn btn-mini btn-primary" id="btnPrepsreSampleRequestDetailList" name="btnPrepsreSampleRequestDetailList"
                onclick="PreSaveSampleRequestDetails()">
                <i class="icon-save bigger-125"></i>Prepare List</button>

                <button type="submit" class="btn btn-mini btn-primary" id="btnEditSampleRequest" name="btnEditSampleRequest">
                    <i class="icon-save bigger-125"></i>Edit</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-mini btn-primary" id="btnCancelSampleRequest" name="btnCancelSampleRequest"
                    value="Cancel" onclick=" $($('#editSampleRequestDialog').dialog('close'));">
                    <i class="icon-remove bigger-125"></i>Cancel</button>
            </div>
        </div>
    </div>
}



@*  SampleRequest Detail Kendo Grid start *@
<script type="text/javascript">

    var dataSource = new kendo.data.DataSource({
        pageSize: 20,
        height: 400,
        update: function (e) { return true; },
        type: "json",
        transport: {
            read: "/PCV/SampleRequest/GetSampleRequestDetails"
        },

        schema: {
            model: {
                id: "Id",
                fields: {
                    Id: { type: "number", editable: false },
                    ArticleId: { type: "number", editable: false },
                    ArticleCode: { type: "string", editable: false },
                    ArticleName: { type: "string", editable: false },
                    SamplingUnit: { type: "string", editable: false },
                    RequestQuantity: { type: "number", editable: true, validation: { required: true, min: 1, max: 9999999999} },
                    CustomerId: { type: "number", editable: true },
                    CustomerName: { defaultValue: { CustomerId: 0, CustomerName: "- Select One -"} },
                    //CustomerId: { defaultValue: { CustomerId: 0, CustomerName: "Please Select Customer"} },
                    Purpose: { type: "string", editable: true },
                    ReceivedQuantity: { type: "number", editable: true, validation: { min: 0, max: 9999999999} },
                    ReceivedDate: { type: "date", editable: true },
                    DetailText: { type: "string", editable: true }
                    //ActionLink: { type: "string" }
                }
            }
        }
    });


    $("#SampleRequestDetailsEditKendoGrid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        height: 350,
        scrollable: true,
        //  toolbar: ["create"],
        filterable: false,
        groupable: true,
        sortable: true,
        resizable: true,
        height: 350,
        //editable: true,
        editable: "incell",
        columnMenu: false,
        scrollable: true,
        columns: [
                { field: "Id", title: "Id", width: 100, hidden: true, filterable: false, sortable: false, locked: true },
                { field: "ArticleId", title: "Article Id", width: 100, hidden: true, filterable: false, sortable: false, locked: true },
                { field: "ArticleCode", title: "Article Code", width: 100, hidden: true, filterable: false, sortable: false, locked: true },
                { field: "ArticleName", title: "Article Name", width: 200, filterable: false, sortable: false, locked: true },
                { field: "SamplingUnit", title: "Unit", width: 80, filterable: false, sortable: false, locked: true },
                { field: "RequestQuantity", title: "Request Quantity", format: "{0:n}", width: 120, sortable: false, locked: false, groupable: false, attributes: { style: "text-align:right;"} },
        //{ field: "CustomerId", title: "Customer", width: 400, editor: customerDropDownEditor, template: "#=CustomerId.CustomerName#" },
                {field: "CustomerId", title: "CustomerId", width: 200, hidden: true, filterable: false, sortable: false, locked: true },
                { field: "CustomerName", title: "Customer", width: 400, editor: customerDropDownEditor },
                { field: "Purpose", title: "Purpose", width: 200, filterable: false, sortable: false, locked: true },
                { field: "ReceivedQuantity", title: "Received Qty", format: "{0:n}", width: 120, sortable: false, locked: false, groupable: false, attributes: { style: "text-align:right;"} },
                { field: "ReceivedDate", title: "Received Date", format: "{0: dd/MM/yyyy}", width: 120, filterable: false, sortable: false, locked: true },
                { field: "DetailText", title: "Remarks", width: 300, filterable: false, sortable: false, locked: true },
                { command: "destroy", title: " ", width: 100 }],
        navigatable: false,
        editable: true
    });


    // Customer DropDown In Grid
    function customerDropDownEditor(container, options) {
        //$('<input name="' + options.field + '" required data-text-field="CustomerName" data-value-field="CustomerId" data-bind="value:' + options.field + '"/>')
        $('<input required data-text-field="CustomerName" data-value-field="Id" data-bind="value:' + options.field + '"/>')
        //var input = $('<input id="CustomerId" name="CustomerId">');
           .appendTo(container)
           .kendoDropDownList({
               autoBind: false,
               optionLabel: "...Select...",
               dataTextField: "CustomerName",
               dataValueField: "CustomerId",
               dataSource: {
                   type: "json",
                   transport: {
                       read: "/PCV/SampleRequest/ReadCustomerList"
                   }
               },
               change: function (e) {
                   var dataItem = e.sender.dataItem();
                   options.model.set("CustomerName", dataItem.CustomerName);
                   options.model.set("CustomerId", dataItem.CustomerId);
               }
           });
    }

//SampleRequest Detail Kendo Grid End Here 

    //-----------------------------------------------------
</script>

@*Add New Row to Grid*@
<script type="text/javascript">
    // Add New Row To Grid
      function AddRow()
        {
        
        var sampleRequestDetGrid = $('#SampleRequestDetailsEditKendoGrid').data('kendoGrid');
        var dataSource = sampleRequestDetGrid.dataSource;

        var articleCode = $('#ArticleCode').val();

        $.get(
                "@Url.Action("AddArticleToGrid")",
                {'articleCode':articleCode},
                function(jresult){
                    if(jresult != '')
                    {
                        if (Find_Grid_Item(jresult[0].Id))
                        {
                            alert('This Element is Allready Exists');
                            return;
                        }
                        dataSource.add({ ArticleId: jresult[0].Id, ArticleCode: jresult[0].ArticleCode, 
                            ArticleName: jresult[0].ArticleName, SamplingUnit: jresult[0].SamplingUnit,
                            RequestQuantity: 1,
                            ReceivedQuantity: 0,
                            CustomerId: 0, 
                            CustomerName: "- Select One -",
                            Discontinued: false 
                            });
                        }
                        else{
                            $("#message").show();
                            $('#message').text(data).css({ 'color':'red' });
                            $("#message").delay(3000).hide();
                        }
                    }
                );
        }
    // Add New Row To Grid End Here 

    function Find_Grid_Item(itemId)
    {
            //alert (itemId);
        var rowNo =0;
        var gridData = $("#SampleRequestDetailsEditKendoGrid").data("kendoGrid").dataSource.data();

        for (var index = 0; index < gridData.length; index++) 
        {
            
            var currentDataItem = gridData[index];
            if (itemId==currentDataItem.ArticleId)
            {
                rowNo=index;
                return true;
            }
        }
//        if (rowNo>0)
//        {return true;}
//        else{
//        return false;
        //}
    }
</script>

@*Save Grid Data*@
<script type="text/javascript">

    function SaveSampleRequestDetails() {
        //getting json data from kendo Grid
        var gridData = $("#SampleRequestDetailsEditKendoGrid").data("kendoGrid").dataSource.data();
        var sampleReqDetailList = [];
        //loop through each json data from kendo Grid
        for (var i = 0; i < gridData.length; i++) {

            var currentDataItem = gridData[i];

            var sampleRequestDetailViewModel = {};
            sampleRequestDetailViewModel.Id = currentDataItem.Id;
            sampleRequestDetailViewModel.RequestId = currentDataItem.RequestId;
            sampleRequestDetailViewModel.ArticleId = currentDataItem.ArticleId;
            sampleRequestDetailViewModel.RequestQuantity = currentDataItem.RequestQuantity;
            sampleRequestDetailViewModel.CustomerId = currentDataItem.CustomerId;
            sampleRequestDetailViewModel.Purpose = currentDataItem.Purpose;
            sampleRequestDetailViewModel.ReceivedQuantity = currentDataItem.ReceivedQuantity;
            sampleRequestDetailViewModel.ReceivedDate = currentDataItem.ReceivedDate;
            sampleRequestDetailViewModel.DetailText = currentDataItem.DetailText;
            sampleReqDetailList.push(sampleRequestDetailViewModel);
        }

        var postUrl = '@Url.Content("~/PCV/SampleRequest/SetSampleRequestDetailsListForSave")';
        //alert(postUrl);
        var paramValue = JSON.stringify({ lstSampleRequestDetails: sampleReqDetailList });
        //alert("Test");
        alert(paramValue);

        //Post json data from kendo Grid to Controller
        $.ajax({
            url: postUrl,
            type: 'POST',
            dataType: 'json',
            data: paramValue,
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                //if (result !='') 
                //    {
                //        alert(jresult[0].TP);
                //        //TP= jresult[0].TP;
                //        $('#TP').val(result[0].TP);
                //    }
                //        alert(result);

                console.log(result);
            },
            error: function (objAjaxRequest, strError) {
                var respText = objAjaxRequest.responseText;
                console.log(respText);
            }
        });
    }

    function PreSaveSampleRequestDetails() {

        SaveSampleRequestDetails();

    }
</script>

@*On Document Ready*@
<script type="text/javascript">
    $(document).ready(function () {

        $("#ArticleCode").kendoAutoComplete({
            dataTextField: "ArticleCode",
            dataSource: {
                transport: {
                    read: {
                        url: "/PCV/SampleRequest/PopulateArticleAutoComplete/",
                        serverPaging: true,
                        type: "POST",
                        data: {
                        // json: JSON.stringify([{"ProductCode": "A001"}, {"ProductCode": "A002"}] )
                    }
                }
            }
        }
    });

    //    $("input:submit, input:button, button", ".jqUI").button();
    //    $('.date').datepicker({ dateFormat: "dd/mm/yy" });

});

</script>


<script type="text/javascript">


    $(function () {
        $('#SupplierId').on('change',function(){
            
            $('#SupplierAddress').val("");

            var suppId = $(this).val();

            if(suppId == "0")
            {
               return;
            }
            $.get(
                    "@Url.Action("GetSupplierDetails")",
                    {'id':suppId},
                    function(jresult){
                        if(jresult != ''){
                             $('#SupplierAddress').val(jresult[0].Address);
                        }
                        else{
                            $("#message").show();
                            $('#message').text(data).css({ 'color':'red' });
                            $("#message").delay(3000).hide();
                        }
                    }
                );

        });
    });

</script>